<style>

    .submission-text-field {
        margin-top: 10px;
    }


</style>

{{#if (not editing)}}

    {{valueName}}: {{widget.parameter.value.value}}

{{/if}}

{{#if editing}}
    <div class='submission-text-field'>
        <label>{{widget.description}}</label>
        {{input value=parameters.value.value class='form-control'}}
    </div>
{{/if}}
{{yield}}
